<appSettings>
  <add key="Activos.Web.ActivePhotoDefaultName" value="Unavailable.gif"/>
  <add key="Activos.Web.ActivePhotoFolderPath" value="/Image/Photo/New/"/>
  <add key="Activos.Web.LogoutURL" value="/Index.aspx"/>
  <add key="Activos.Web.RememberPassword" value="*******"/>
  <add key="Activos.Web.SystemAdministratorUserId" value="1"/>
  <add key="Activos.Web.SmtpHost" value="mail.iydsa.com"/>
  <add key="Activos.Web.SmtpPort" value="25"/>
  <add key="Activos.Web.SmtpLogin" value="mail@iydsa.com"/>
  <add key="Activos.Web.SmtpPassword" value="iydsa01"/>
  <add key="Activos.Web.SmtpFrom" value="mail@iydsa.com"/>
  <add key="Activos.Web.UserIndexURL" value="/Aplicacion/Inicio.aspx"/>
  <add key="Activos.Web.Secretaria" value="GENERAL DE GOBIERNO"/>
  <add key="Activos.Web.Direccion" value="INSTITUTO DE DEFENSORÍA PÚBLICA DE NUEVO LEÓN"/>
  <add key="Activos.Web.Domicilio" value="MATAMOROS No. 311 ORIENTE CENTRO DE MONTERREY"/>
  <add key="Activos.Web.EnlaceMobiliarioEquipo" value="C.P. JULIO CESAR GARCIA RIOS"/>
  <add key="Activos.Web.Dependencia" value="INSTITUTO DE DEFENSORÍA PÚBLICA DE NUEVO LEÓN"/>
  <add key="Activos.Web.AdquisicionesYServicios" value="Responsable Aquisiciones y Servicios"/>
  <add key="Activos.Web.DirectorAdministrativo" value="Lic. Francisco Cordero Márquez"/>
  <add key="Activos.Web.DirectorGeneralNombre" value="Director General Nombre"/>
  <add key="Activos.Web.DirectorGeneralRFC" value="RFC_DG"/>
  <add key="Activos.Web.DirectorGeneralNumero" value="NUMERO_DG"/>
  <add key="Activos.Web.EnlaceVehiculo" value="C.P. JULIO CESAR GARCIA RIOS"/>

  <!-- jefes de departamento de áreas de activos-->
  <add key="Activos.Web.TitularActivoEquipoDeComputo" value="Titular de Equipo de Cómputo"/>
  <add key="Activos.Web.TitularActivoMobiliario" value="Titular de Mobiliario"/>
  <add key="Activos.Web.TitularActivoVehiculo" value="Titular de Vehículo"/>
  <add key="Activos.Web.TitularActivoOperacionMantenimiento" value="Titular de Operación y Mantenimiento"/>
  <!-- jefes de departamento de áreas de activos-->

  <add key="Activos.Web.TitularAtencionUsuario" value="ING. HUGO RICARDO GARCIA PRUNEDA "/>

  <add key="Almacen.Web.EncargadoBodega" value="Gerardo Castillo Ponce"/>
  <add key="Almacen.Web.TituloEncargadoBodega" value="Encargado Bodega"/>
  <add key="Almacen.Web.CorreoEncargadoBodega" value="olivia.guzman@nuevoleon.gob.mx"/>


  <add key="Activos.Web.DepartamentoSistemaId" value="1"/>
  <add key="Activos.Web.AlmacenistaEmpleadoId" value="1"/>

</appSettings>
