<connectionStrings>
  <!--<add name="DefensoriaDB.Almacen" connectionString="Server=ns1.allium.arvixe.com; initial catalog=DefensoriaDB.Almacen; User=Activos; Password=act78493;"/>
  <add name="DefensoriaDB.Catalogo" connectionString="Server=ns1.allium.arvixe.com; initial catalog=DefensoriaDB.Catalogo; User=Activos; Password=act78493;"/>
  <add name="DefensoriaDB.Seguridad" connectionString="Server=ns1.allium.arvixe.com; initial catalog=DefensoriaDB.Seguridad; User=Activos; Password=act78493;"/>-->

  <add name="DefensoriaDB.Almacen" connectionString="Server=10.4.15.26; initial catalog=DefensoriaDB.Almacen; User=Defensoria.Almacen; Password=alm54319;"/>
  <add name="DefensoriaDB.Catalogo" connectionString="Server=10.4.15.26; initial catalog=DefensoriaDB.Catalogo; User=Defensoria.Catalogos; Password=cat12049;"/>
  <add name="DefensoriaDB.Seguridad" connectionString="Server=10.4.15.26; initial catalog=DefensoriaDB.Seguridad; User=Defensoria.Seguridad; Password=seg30512;"/>
 </connectionStrings>
