# Archivos temporales de Visio
Documentación/02 - Elaboración/~$$Diagrama entidad relación del proyecto de Almacén.~vsd
Documentación/02 - Elaboración/~$$Diagrama entidad relación del proyecto de Almacén.~vsd

# Archivos de la solución
ActivosSolucion/ActivosSolucion.sln
ActivosSolucion/ActivosSolucion.suo

# Carpetas bin y debug
bin/
debug/
ActivosSolucion/ActivosSolucion.suo
ActivosSolucion/ActivosSolucion.suo
*.~vsd
Documentación/02 - Elaboración/Diagrama entidad relación del proyecto de Almacén.vsd

ActivosSolucion/Activos.Almacen/obj/Debug/ResolveAssemblyReference.cache
ActivosSolucion/ActivosSolucion.suo
