/*
* Fecha de creación:	23-Marzo-2012
* Autor:				Carlos Valladolid
*
* Descripción:			Hoja de estilos para las tablas de las pantallas privadas de la aplicación
*/

#DivCuerpo .RightBodyDiv .PageTitleDiv .PageTitleTable
{
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
	width: 100%;
}

#DivCuerpo .RightBodyDiv .PageTitleDiv .PageTitleTable .Icon
{
	text-align: left;
	width: 3%;
}

#DivCuerpo .RightBodyDiv .PageTitleDiv .PageTitleTable .Title
{
    font-size: 14px;
	font-weight: bold;
	width: 50%;
}

#DivCuerpo .RightBodyDiv .PageTitleDiv .PageTitleTable .Search
{
	text-align: right;
	width: 47%;
}

#DivCuerpo .RightBodyDiv .RightMenuTable
{
	border: 0px;
	border-spacing: 2px;
	margin-top: 15px;
	padding: 5px;
	width: 100%;
}

#DivCuerpo .RightBodyDiv .RightMenuTable .Banner
{
	text-align: center;
	width: 35%;
}

#DivCuerpo .RightBodyDiv .RightMenuTable .Info
{
	vertical-align: top;
	width: 65%;
}

.FormTable
{
	border-spacing: 5px;
	padding: 5px;
	vertical-align: top;
}

.FormTable .Catalog
{
	vertical-align: bottom;
	width: 150px;
}

.FormTable .Field
{
	vertical-align: top;
	width: 250px;
}

.FormTable .FieldPhoto
{
	vertical-align: middle;
	width: 250px;
}

.FormTable .LanguageTitle
{
	font-size: 14px;
	font-family: Calibri, Verdana, Arial;
	font-weight: bold;
	width: 50%;
}

.FormTable .Name
{
	vertical-align: top;
	width: 120px;
}

.FormTable .Options
{
	vertical-align: bottom;
	width: 300px;
}

.FormTable .Required
{
	color: #ff0000;
	font-size: 14px;
	vertical-align: top;
	width: 20px;
}

.FormTable .Sapce
{
	width: 20px;
}

.GridViewTotal
{
	font-weight: bold;
	text-align: right;
	width: 100%;
}

#DivEncabezado .HeaderTable
{
	width: 100%;
}

#DivEncabezado .HeaderTable .Image
{
	height: 58px;
	padding-left: 10px;
	padding-top: 0px;
	width: 90px;
}

#DivEncabezado .HeaderTable .Logo
{
	padding-left: 10px;
	width: 21%;
}

#DivEncabezado .HeaderTable .Menu
{
	color: #c0c0c0;
	vertical-align: top;
	width: 59%;
}

#DivEncabezado .HeaderTable .Session
{
	text-align: right;
	width: 18%;
}

.LeftMenuTable
{
	border: 0px;
	border-spacing: 2px;
	margin-top: 15px;
	padding: 5px;
}

.LeftMenuTable a
{
	color: #0000ff;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}

.LeftMenuTable a:hover
{
	text-decoration: underline;
}

.LeftMenuTable .NoOption
{
	color: #999999;
	font-style: italic;
	font-weight: normal;
	vertical-align: bottom;
}

.LeftMenuTable .Section
{
	color: #666666;
	font-size: 16px;
	font-weight: normal;
	vertical-align: bottom;
}

.LeftMenuTable .Space
{
	width: 3px;
}

.Table
{
	width: 100%;	
}

.Table .Center
{
	text-align: center;
}

.Table .Title
{
	font-weight: bold;
}

.Table .HeaderOrder
{
	background-color: #e0e0e0;
	text-align: center;
}

.Table .Right
{
	text-align: right;
}

.Table .RightBold
{
	font-weight: bold;
	text-align: right;
}

#UploadFileDiv .Table
{
	border-spacing: 5px;
}

#UploadFileDiv .Table .Image
{
	width: 250px;
}

#UploadFileDiv .Table .File
{
	vertical-align: top;
}
