<connectionStrings>
  <add name="DefensoriaDB.Activos" connectionString="Server=192.168.1.50; initial catalog=DefensoriaDB.Activos; User Id=Defensoria.Activos; Password=act78493;"/>
  <add name="DefensoriaDB.Catalogo" connectionString="Server=192.168.1.50; initial catalog=DefensoriaDB.Catalogo; User=Defensoria.Catalogos; Password=cat12049;"/>
  <add name="DefensoriaDB.Seguridad" connectionString="Server=192.168.1.50; initial catalog=DefensoriaDB.Seguridad; User=Defensoria.Seguridad; Password=seg30512;"/>
  <add name="DefensoriaDB.Almacen" connectionString="Server=192.168.1.50; initial catalog=DefensoriaDB.Almacen; User=Defensoria.Activos; Password=act78493;"/>

  <!--<add name="DefensoriaDB.Activos" connectionString="Server=LAPPERSONAL\MSSQLSERVER08R2; initial catalog=DefensoriaDB.Activos; User Id=Defensoria.Activos; Password=act78493;"/>
   <add name="DefensoriaDB.Catalogo" connectionString="Server=LAPPERSONAL\MSSQLSERVER08R2; initial catalog=DefensoriaDB.Catalogo; User=Defensoria.Catalogos; Password=cat12049;"/>
   <add name="DefensoriaDB.Seguridad" connectionString="Server=LAPPERSONAL\MSSQLSERVER08R2; initial catalog=DefensoriaDB.Seguridad; User=Defensoria.Seguridad; Password=seg30512;"/>-->

</connectionStrings>
