/*
* Fecha de creación:	23-Marzo-2012
* Autor:				Carlos Valladolid
*
* Descripción:			Hoja de estilos para las etiquetas divs de las pantallas públicas de la aplicación
*/

#CenterHeaderDiv
{
	height: 120px;
	margin: auto;
	width: 980px;
}

#ContentDiv
{
	background-color: #fff;
	width: 100%;
}

#ContentLoginLeftDiv
{
	float: left;
	padding: 0px 25px 25px 25px;
	width: 480px;
}

#ContentLoginLeftDiv .SoftwarePackageIcon
{
	margin: auto;
	width: 176px;
}

#ContentSeparatorDiv
{
	float: left;
	padding-top: 100px;
	vertical-align: middle;
	width: 3px;	
}

#LoginControlDiv
{
	margin: auto;
	padding-top: 100px;
	width: 300px;
}

#LoginControlDiv .CenterDiv
{
	margin: auto;
	width: 210px;
}

#LoginControlDiv .RightTextDiv
{
	text-align: right;
}

#LoginDiv
{
	float: left;
	padding: 25px;
	width: 350px;
}

.ModalSmallDiv
{
	background: #ffffff;
	border: 1px solid #000000;
	color: #333;
    left: 50%;
    margin-left: -200px;
	margin-top: -115px;
    height: 225px;
    padding: 0px;
    position: fixed;
    top: 50%;
    width: 400px;
    z-index: 1002;
}

.ModalSmallDiv .ContentDiv
{
	background-color: #ffffff;
	border: 0px;
	border-spacing: 5px;
	height: 150px;
	overflow: auto;
	padding: 5px;
}

.ModalSmallDiv .FooterDiv
{
	background-color: #dddddd;
	border: 0px;
	border-spacing: 5px;
	height: 35px;
	padding: 5px;
}

.ModalSmallDiv .HeaderDiv
{
	background-color: #a6baea;
	border: 0px;
	border-spacing: 5px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	padding: 5px;
}

.Overlay
{
	-moz-opacity: 0.75;
	background: #000000 url(/Imagen/Fondo/FondoPopup.png) repeat;
    filter: alpha(opacity=75);
    left: 0px;
    height: 100%;
    opacity:.75;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1001;
}

