/*
* Fecha de creación:	23-Marzo-2012
* Autor:				Carlos Valladolid
*
* Descripción:			Hoja de estilos para las pantallas públicas de la aplicación
*/

html, body, form
{
	background: #fff url(/Imagen/Fondo/CenterHeaderBackground.jpg) repeat-x;
	border: 0px;
	color: #333333;
	font-family: Calibri, Verdana, Arial;
	font-size: 14px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#DivCuerpo
{
	height: 80%;
	margin: auto;
	width: 980px;
}

#DivEncabezado
{
	border: 0x;
	height: 17%;
	width: 100%;
}

#DivPie
{
	background-color: #333;
	border: 0x;
	height: 3%;
	width: 100%;
}

#DivPrincipal
{
	height: 100%;
	width: 100%;
}



