/*
* Fecha de creación:	07-Mayo-2012
* Autor:				Carlos Valladolid
*
* Descripción:			Hoja de estilos para los textos de las páginas públicas de la aplicación Web
*/

.TextoError
{
	font-size: 12px;
	color: #ff0000;
	vertical-align: top;
}